<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Premuim</h1>
    
    <form action="/premuim" method="POST">

        <input type="hidden" name="username" value="<%=username%>" >


        <label for="secret_code">Secret Code</label>
        <input type="text" name="secret_code">

        <br>

        <input type="submit" value="submit">

        <button><a href="/">Home</a></button>


    </form>

    <%- include("errors.ejs")%>
    
</body>
</html>