<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Sign Up</h1>
    
    <form action="/signup" method="POST">


        <label for="firstname" >firstname</label>
        <input type="text" name="firstname" value="AIT SAID">

        <br>


        <label for="lastname">lastname</label>
        <input type="text" name="lastname"  value="AYMEN">

        <br>

        <label for="username">username</label>
        <input type="text" name="username"  value="Miminou1">

        <br>

        <label for="password">password</label>
        <input type="password" name="password"  value="a">

        <br>

        <label for="confirm_password">confirm password</label>
        <input type="password" name="confirm_password" value="a">

        <br>

        <input type="checkbox" name="isAdmin">
        <label for="isAdmin">is admin?</label>

        <br>

        <input type="submit" value="Sign-un">

        <br>

        <p>have account ?  <button><a href="/login">Login</a></button></p>


    </form>

    <%- include("errors.ejs")%>
    
</body>
</html>